# .env
# private discord key
DISCORD_TOKEN=
# These will be random strings of numbers, they'll get printed when the bot is first run.
FLASH_GAMES_CHANNEL=0
OTHER_GAMES_CHANNEL=0
ANIMATIONS_CHANNEL=0
AUDITIONS_CHANNEL=0
CURATOR_LOUNGE_CHANNEL=0
AUDITION_CHAT_CHANNEL=0
NSFW_LOUNGE_CHANNEL=0
EXCEPTION_CHANNEL=0
BOT_ALERTS_CHANNEL=0
GOD_USER=0